@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

.transition {
    transition-property: width, margin;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
